!!! XML
!!!

%html
  %head
    %title viag.ra the URL Lengthener
    %link{ :href => '/css/reset.css', :type=>'text/css', :rel=>'stylesheet' }
    %link{ :href => '/css/style.css', :type=>'text/css', :rel=>'stylesheet' }

  %body
    #container
      #main
        .lengthen-form
          %form{ :action => 'lengthify', :method=>'POST' }
            %input{ :type => 'text', :name=>'original_url', :value=>params[:original_url] }
            %button{ :type => 'submit', :name=>'submit', :src=>'/img/pill.jpg' }

      #content
        =yield
      #footer
        .contact
          Email: cooperqATcooperqD0Tcom
        .source
          %a{ :href=>'http://github.com/cooperq/Viag.ra/tree/master' }
            Get the source code!
        .duck 
          No ducks down here
